{% extends 'home/index.html' %}
{% load static %}
{% block content %}
<style>
    .navbar-transparent{
        background-color: #fb641b !important;
    }
    .contents{
        min-height: 80vh;
        padding: 4rem 0 2rem 0;
        max-width: 800px;
        margin: 0 auto;
    }
    .wrapper{
        background-color: #fff !important;
    }
    .title {
            font-family: 'Merriweather', serif;
            font-size: 2.5rem;
            color: #2c3e50;
            margin-top: 1.5rem;
            margin-bottom: 8px;
        }
        .subtitle {
            font-family: 'Merriweather', serif;
            font-size: 1.5rem;
            color: #7f8c8d;
            font-weight: 500;
        }
        .author-info {
            display: flex;
            align-items: center;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .author-info img {
            border-radius: 50%;
            margin-right: 10px;
        }
        .author-info .name {
            font-weight: 600;
            font-size: 1rem;
            color: #7f8c8d;
        }
        .author-info .date {
            font-size: 0.9rem;
            color: #95a5a6;
        }
        .cover-image {
            width: 100%;
            max-height: 400px;
            object-fit: cover;
            margin-bottom: 30px;
        }
        .content {
            font-size: 1.125rem;
            line-height: 1.8;
            color: #2c3e50;
        }
        .content h2 {
            margin-top: 40px;
            margin-bottom: 20px;
            font-family: 'Merriweather', serif;
            font-size: 1.875rem;
            color: #2c3e50;
        }
        .content p {
            margin-bottom: 20px;
        }
        .content blockquote {
            margin: 40px 0;
            padding: 20px;
            background-color: #ecf0f1;
            border-left: 5px solid #3498db;
            font-style: italic;
        }
        .content img {
            max-width: 100%;
            height: auto;
            margin: 30px 0;
        }
        .tags {
            margin-top: 40px;
        }
        .tags a {
            display: inline-block;
            background-color: #3498db;
            color: #fff;
            padding: 5px 10px;
            margin-right: 10px;
            text-decoration: none;
            border-radius: 3px;
            font-size: 0.875rem;
        }
        .tags a:hover {
            background-color: #2980b9;
        }

        .blog-interaction {
            border-color: #e0e0e0; /* Adjust the border color if needed */
            padding: 0 1rem; /* Add padding to the container */
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 1.5rem;
            padding: 0.5rem 0;
        }
        .blog-interaction i{
            font-size: 1.2rem;
            display: flex;
        }
        .count{
            font-size: 1rem;
            /* padding: 0 0.2rem; */
            margin-left: 0.3rem;
            font-weight: 500;
        }
        .clap-icon, .comment-icon{
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .saveandshare{
            display: flex;
            flex-direction: row;
            align-items: end;
        }
        .save-icon, .share i{
            color: grey;
            padding: 0 0.6rem;
        }
        .rightbar-title {
            height: 62px;
        }
        .profile-dropdown a
        {
            display: flex;
            flex-direction: row;
            align-items: baseline;
        }
        .follow-btn{
            font-weight: 500;
        }
        .follow-btn:hover{
            color: rgb(0, 71, 0);
            font-weight: 600;
        }


</style>
<div class="contents">
    <div class="container">
        <h1 class="title">{{ story.title }}</h1>
        <p class="subtitle">{{ story.subtitle }}</p>

        <div class="author-info">
            <img src="{% static 'images/profile.jpg' %}" alt="Author" width="50" height="50">
            <div class="flex-col">
                <div class="flex-row align-items-center">
                    <a href="{% url 'author_profile' story.author.uuid %}"><span class="name">{{ story.author }}</span></a>
                    <span class="pl-1">.</span>
                    {% if is_following %}
                    <a class="btn text-success follow-btn" data-author-id="{{ story.author.id }}">Following</a>
                    {% else %}
                    <a class="btn text-success follow-btn" data-author-id="{{ story.author.id }}">Follow</a>
                    {% endif %}
                </div>
                <span class="date">{{story.publication_date | date}}</span>
            </div>
        </div>

        <div class="blog-interaction border-bottom border-top">
            <div class="icons d-flex">
                <span class="clap-icon me-3">
                    {% if is_liked %}
                    <i class="mdi mdi-thumb-up text-primary" data-toggle="tooltip" data-placement="top" data-original-title="Liked"></i>
                    {% else %}
                    <i class="mdi mdi-thumb-up-outline text-primary" data-toggle="tooltip" data-placement="top" data-original-title="Like"></i>
                    {% endif %}
                    <span class="count" id="like-count">{{ like_count }}</span>
                </span>
                <span class="comment-icon me-3 ml-3 right-bar-toggle waves-effect" data-toggle="tooltip" data-placement="top" data-original-title="Respond">
                    <i class="mdi mdi-comment-outline"></i>
                    <span class="count" id="comment-count">{{ comment_count }}</span>
                </span>
            </div>
            <div class="saveandshare">
                {% if is_saved_story %}
                <i class="save-icon mdi mdi-bookmark" data-story-id="{{ story.id }}" data-toggle="tooltip" data-placement="top" data-original-title="Save"></i> 
                {% else %}
                <i class="save-icon mdi mdi-bookmark-outline" data-story-id="{{ story.id }}" data-toggle="tooltip" data-placement="top" data-original-title="Save"></i>
                {% endif %}
                <ul class="list-unstyled topnav-menu mb-0 share">
                    <li class="dropdown notification-list">
                      <a class="nav-link dropdown-toggle nav-user mr-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                        <i class="mdi mdi-export-variant" data-toggle="tooltip" data-placement="top" data-original-title="Share"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right profile-dropdown " style="width: fit-content;">
                        <a href="javascript:void(0);" id="copy-link" class="dropdown-item notify-item">
                          <i class="mdi mdi-content-copy"></i>
                          <span>Copy Link</span>
                        </a>
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <i class="mdi mdi-whatsapp"></i>
                            <span>Share on WhatsApp</span>
                          </a>
                      </div>
                    </li>
                </ul>
            </div>
        </div>

        <img src="{{ story.cover_image.url }}" alt="Cover Image" class="cover-image">

        <div class="content">
            {% for block in content_blocks %}
                {% if block.content_type == 'paragraph' %}
                    <p>{{ block.text_content }}</p>
                {% elif block.content_type == 'image' %}
                    <img src="{{ block.image_content.url }}" alt="Content Image" class="content-image">
                {% elif block.content_type == 'blockquote' %}
                    <blockquote>{{ block.text_content }}</blockquote>
                {% endif %}
            {% endfor %}
        </div>

        <div class="tags">
            {% for tag in story.tags.all %}
                <a href="{% url 'blog-list-slug' tag.name %}">#{{ tag.name }}</a>
            {% endfor %}
        </div>
    </div>
</div>  
{% endblock %}
{% block script %}
<script>
    $(document).ready(function() {        
        $('#submit-comment').on('click', function(e) {
        e.preventDefault();
        
        // Get the story ID and comment text
        let story_id = {{story.id}};
        let comment_text = $('#comment-text').val();
        let parent_id = $('#parent_id').val()

        if (comment_text.startsWith('@')) {
            comment_text = comment_text.replace(/^@\S+\s*/, '');  // Remove the first word that starts with '@' and any following whitespace
        }

        // Clear existing comments (optional)
        $('#comments').html('');

        // Make AJAX POST request to submit the new comment
        $.ajax({
                url: "{% url 'comments_ajax' %}",  // URL for CommentAjaxView (POST)
                type: "POST",
                data: {
                    story_id: story_id,
                    comment: comment_text,
                    parent_id: parent_id, 
                    csrfmiddlewaretoken: '{{ csrf_token }}'  // Include CSRF token for security
                },
                success: function(response) {
                    // Append the updated comments (HTML) to the #comments container
                    $('#comments').html(response.comments_html);
                    // Clear the comment input after successful submission
                    $('#comment-text').val('');
                    $('#parent_id').val('');
                    let currentCount = parseInt($('#comment-count').text()); 
                    $('#comment-count').text(currentCount + 1); 
                },
                error: function(error) {
                    console.error("Error submitting comment:", error);
                }
            });
        });
        // Event handler for clicking the comment icon
        $('.comment-icon').on('click', function(e) {
            e.preventDefault();
            
            // Get the story ID from a data attribute (assuming you store it in the icon)
            let story_id = {{story.id}};  
            
            // Clear existing comments (optional)
            $('#comments').html('');

            // Make AJAX GET request to load the comments
            $.ajax({
                url: "{% url 'comments_ajax' %}",  // URL for CommentAjaxView (GET)
                type: "GET",
                data: { story_id: story_id },  // Send the story ID as part of the request
                success: function(response) {
                    // Append the response (comments HTML) to the #comments container
                    $('#comments').html(response.comments_html);
                },
                error: function(error) {
                    console.error("Error fetching comments:", error);
                }
            });
        });
        $('.follow-btn').on('click', function(event) {
        event.preventDefault();
        const authorId = $(this).data('author-id');
        const csrfToken = $('input[name="csrfmiddlewaretoken"]').val();
        const $this = $(this);

        $.ajax({
                url: "{% url 'follow-author' %}",
                type: "POST",
                data: {
                    author_id: authorId,
                    csrfmiddlewaretoken: csrfToken
                },
                success: function(response) {
                    if (response.status === 'followed') {
                        $this.text('Following');
                    } else if (response.status === 'unfollowed') {
                        $this.text('Follow');
                    }
                    $this.closest('.author-details').find('p:nth-child(4)').text(response.followers_count + ' Followers');
                },
                error: function(xhr, errmsg, err) {
                    console.log('Error: ' + errmsg);
                }
            });
        });

        $('.clap-icon').on('click', function() {
        var $this = $(this);
        var storyId = {{ story.id }}
        var $icon = $this.find('i');
        var currentCount = parseInt($('#like-count').html(), 10);
        
        $.ajax({
            url: '{% url "like_story" %}', // Make sure to replace with the correct URL
            type: 'POST',
            data: {
                'story_id': storyId,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {
                var isLiked = response.liked;
                var likeCount = response.like_count;
                
                if (isLiked) {
                    $icon.removeClass('mdi-thumb-up-outline').addClass('mdi mdi-thumb-up');
                    $('#like-count').html(currentCount + 1);
                    $icon.attr('data-original-title', 'Liked');  // Change tooltip title to "Liked"
                } else {
                    $icon.removeClass('mdi-thumb-up').addClass('mdi-thumb-up-outline');
                    $icon.css('color', '');
                    $('#like-count').html(currentCount - 1);
                    $icon.attr('data-original-title', 'Like');  // Change tooltip title to "Like"
                }
                $this.siblings('.like-count').text(likeCount);
            },
            error: function(xhr, status, error) {
                console.log("An error occurred: " + error);
            }
        });
    });
    $('.save-icon').click(function() {
            var icon = $(this);
            var storyId = icon.data('story-id');

            $.ajax({
                type: 'POST',
                url: "{% url 'save-story' %}",  // Replace with your URL name for SaveStoryView
                data: {
                    'story_id': storyId,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response) {
                    if (response.status === 'saved') {
                        icon.removeClass('mdi-bookmark-outline').addClass('mdi-bookmark');
                    } else if (response.status === 'unsaved') {
                        icon.removeClass('mdi-bookmark').addClass('mdi-bookmark-outline');
                    }
                },
                error: function(response) {
                    alert('An error occurred. Please try again.');
                }
            });
        });

});

</script>
{% endblock %}