{% extends "home/index.html" %}
{% load static %}
{% block content %}
<div class="container pt-7 pb-3">
    <div class="row">
        <div class="col-5 shadow" style="height: fit-content;">
            <div>
                <div class="wishlist-icon"><i class="fas fa-heart"></i></div>
                <div class="perfect-center detail-img">
                    <img src="{%static 'images/phone.png'%}" alt="" class="p-2">
                </div> 
                <div class="flex-row justify-space-around p-2">
                    <a href="{% url 'cart' %}" class="btn-new btn-orange perfect-center mr-1"><i class=" fas fa-bolt mr-1"></i> BUY NOW</a>
                    <a href="" class="btn-new btn-yellow perfect-center"><i class="fas fa-cart-plus mr-1"></i>ADD TO CART</a>
                </div>  
            </div>    
        </div>
        <div class="col-7 pl-3" style="">
`           <h6 class="text-secondary">Home > Footwear > Men's Footwear > Adidas</h6>
            <h5 class="text-secondary">ADIDAS</h5>
            <h5>FLIP FLOPS</h5>
            <div class="flex-row align-center">
                <h4>₹1200</h4 >
                <h5 class="text-secondary line">₹1360</h5>
                <h6 class="text-success">56% off</h6>
            </div>
            <div class="flex-row align-center mt-1">
                <span class="bg-green text-white mr-1">3.8 <i class=" fas fa-star"></i></span><h6 class="text-dark">61 ratings and  23 reviews</h6>
            </div>
            <div>
               <h5>Available Offers</h5>
               <div><i class=" fas fa-tag mr-1 text-success"></i> Bank Offer5% Unlimited Cashback on Flipkart Axis Bank Credit Card</div> 
               <div><i class=" fas fa-tag mr-1 text-success"></i> Bank Offer5% Unlimited Cashback on Flipkart Axis Bank Credit Card</div> 
               <div><i class=" fas fa-tag mr-1 text-success"></i> Bank Offer5% Unlimited Cashback on Flipkart Axis Bank Credit Card</div> 
               <div><i class=" fas fa-tag mr-1 text-success"></i> Bank Offer5% Unlimited Cashback on Flipkart Axis Bank Credit Card</div> 
            </div>
            
                <div class="flex-row justify-space-around mt-2">
                    <span class="text-secondary mr-1">Warrenty</span>
                    <span class="text-dark">100 Days Replacement Warranty, 1 year warranty for Handset & 6 Months Warranty for Accessories</span>
                </div>
                <div class="flex-row justify-space-around mt-2">
                    <span class="text-secondary mr-1">Colour</span>
                    <div>
                        <img src="{%static 'images/phone.png'%}" class="mr-1" alt="" width="10%">
                        <img src="{%static 'images/phone.png'%}" class="mr-1" alt="" width="10%">
                        <img src="{%static 'images/phone.png'%}"  class="mr-1" alt="" width="10%">
                    </div>
                </div>
                <div class="flex-row mt-2">
                    <span class="mr-1">Delivery</span>
                    <div class="check-pin">
                        <i class="ti-location-pin text-blue"></i>
                        <input type="text">
                        <h6 class="text-primary">Change</h6>
                    </div>
                </div>
                <div class="flex-row mt-2">
                    <div class="col-1"></div>
                    <div class="check-pin">
                        <h5>Delivery by16 Jun, Wednesday</h5> <span>|</span><h5 class="line">₹40</h5> <h5 class="text-green">Free</h5>
                    </div>
                </div>
                <div class="flex-row mt-2">
                    <span class="mr-1">Highlights</span>
                    <ul>
                        <li>32 MB RAM | 32 MB ROM | Expandable Upto 32 GB</li>
                        <li>6.1 cm (2.4 inch) QVGA Display</li>
                        <li>0.3MP Rear Camera</li>
                        <li>2500 mAh Battery</li>
                    </ul>
                </div>
                <div class="flex-row mt-2">
                    <span class="mr-1">Seller</span>
                    <div class="flex-col">
                        <div class="flex-row"><h5 class="text-primary">Annus Hub</h5><button class=" btn bg-green bg-primary">4.4 <i class=" fas fa-star"></i></button></div>
                        <ul>
                            <li>32 MB RAM | 32 MB ROM | Expandable Upto 32 GB</li>
                            <li>6.1 cm (2.4 inch) QVGA Display</li>
                            <li>0.3MP Rear Camera</li>
                            <li>2500 mAh Battery</li>
                        </ul>
                    </div>
                    
                </div>
                <div>
                    <div class="specification-div">
                        <div class="border p-2">
                            <h4>Specification</h4>
                        </div>
                        <div class="border">
                            <div class="p-2">
                                <h5>General</h5>
                                <div class="flex-row">
                                    <span>In The Box</span>
                                    <h6 class="text-dark ml-1">Handset, Battery, Charger,Handsfree, user manual, warranty card</h6>
                                </div>
                                <div class="flex-row">
                                    <span>In The Box</span>
                                    <h6 class="text-dark ml-1">Handset, Battery, Charger,Handsfree, user manual, warranty card</h6>
                                </div>
                                <div class="flex-row">
                                    <span>In The Box</span>
                                    <h6 class="text-dark ml-1">Handset, Battery, Charger,Handsfree, user manual, warranty card</h6>
                                </div>
                                <div class="flex-row">
                                    <span>In The Box</span>
                                    <h6 class="text-dark ml-1">Handset, Battery, Charger,Handsfree, user manual, warranty card</h6>
                                </div>
                                <div class="flex-row">
                                    <span>In The Box</span>
                                    <h6 class="text-dark ml-1">Handset, Battery, Charger,Handsfree, user manual, warranty card</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="border p-4">
                        <span class="heading">User Rating</span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <p>4.1 average based on 254 reviews.</p>
        <hr style="border:3px solid #f1f1f1">
        
        <div class="row">
        <div class="side">
        <div>5 star</div>
        </div>
        <div class="middle">
        <div class="bar-container">
        <div class="bar-5"></div>
        </div>
        </div>
        <div class="side right">
        <div>150</div>
        </div>
        <div class="side">
        <div>4 star</div>
        </div>
        <div class="middle">
        <div class="bar-container">
        <div class="bar-4"></div>
        </div>
        </div>
        <div class="side right">
        <div>63</div>
        </div>
        <div class="side">
        <div>3 star</div>
        </div>
        <div class="middle">
        <div class="bar-container">
        <div class="bar-3"></div>
        </div>
        </div>
        <div class="side right">
        <div>15</div>
        </div>
        <div class="side">
        <div>2 star</div>
        </div>
        <div class="middle">
        <div class="bar-container">
        <div class="bar-2"></div>
        </div>
        </div>
        <div class="side right">
        <div>6</div>
        </div>
        <div class="side">
        <div>1 star</div>
        </div>
        <div class="middle">
        <div class="bar-container">
        <div class="bar-1"></div>
        </div>
        </div>
        <div class="side right">
        <div>20</div>
        </div>
        </div>
        
                    </div>
                    <div class="border p-2">
                        <div class="flex-row mb-2">
                            <span class="bg-green text-white mr-1">3.8 <i class=" fas fa-star"></i></span><h5 class="mb-0 mt-0">Good Quality Product</h5>
                        </div>
                        <div>Good quality product good for those who don't want to use smart phone... compact and easy to use..</div>
                        <div class="flex-row align-center mt-2">
                            <h6 class="text-secondary mr-1">Tapash mandal</h6>
                            <i class=" fas fa-check-circle text-secondary mr-1"></i>
                            <h6 class="text-secondary"> 15 days ago</h6>
                        </div>
                    </div>
                    <div class="border p-2">
                        <div class="flex-row mb-2">
                            <span class="bg-green text-white mr-1">3.8 <i class=" fas fa-star"></i></span><h5 class="mb-0 mt-0">Good Quality Product</h5>
                        </div>
                        <div>Good quality product good for those who don't want to use smart phone... compact and easy to use..</div>
                        <div class="flex-row align-center mt-2">
                            <h6 class="text-secondary mr-1">Tapash mandal</h6>
                            <i class=" fas fa-check-circle text-secondary mr-1"></i>
                            <h6 class="text-secondary"> 15 days ago</h6>
                        </div>
                    </div>
                    <div class="border p-2">
                        <div class="flex-row mb-2">
                            <span class="bg-green text-white mr-1">3.8 <i class=" fas fa-star"></i></span><h5 class="mb-0 mt-0">Good Quality Product</h5>
                        </div>
                        <div>Good quality product good for those who don't want to use smart phone... compact and easy to use..</div>
                        <div class="flex-row align-center mt-2">
                            <h6 class="text-secondary mr-1">Tapash mandal</h6>
                            <i class=" fas fa-check-circle text-secondary mr-1"></i>
                            <h6 class="text-secondary"> 15 days ago</h6>
                        </div>
                    </div>
                    <div class="border p-2">
                        <div class="flex-row mb-2">
                            <span class="bg-green text-white mr-1">4.8 <i class=" fas fa-star"></i></span><h5 class="mb-0 mt-0">Good Quality Product</h5>
                        </div>
                        <div>Good quality product good for those who don't want to use smart phone... compact and easy to use..</div>
                        <div class="flex-row align-center mt-2">
                            <h6 class="text-secondary mr-1">Tapash mandal</h6>
                            <i class=" fas fa-check-circle text-secondary mr-1"></i>
                            <h6 class="text-secondary"> 15 days ago</h6>
                        </div>
                    </div>
                    <div class="border p-2">
                        <div class="flex-row align-center justify-space-between">
                            <h4 class="text-info">All 243 reviews</h4>
                            <i class="fas fa-plus text-secondary mr-3"></i>
                        </div>
                    </div>
                </div>
        </div>
    </div>

    <div class="flex-col mt-4 shadow">
        <div class="flex-row justify-space-between product-cont-head">
          <h4>Similar Products</h4>
          <a  href="{% url 'usersite_product' %}" class="btn-flipkart-blue shadow">VIEW ALL</a>
        </div>
        <div class="flex-row product-cont-body">

        <div id="carouselExampleControlsproduct" class="carousel slide" data-ride="carousel" style="width: 100%;">
          <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="flex-row">
              <div class="prod-card">
                <div class="flex-row justify-content-center">
                  <div class="img-cont">
                    <img src="{%static 'images/watch.png'%}" alt="">
                  </div>
                </div>
                <div class="flex-col align-center">
                  <h5 class="card-title text-blue">Fastrack A16</h5>
                  <p class="card-title">Attractive black design</p>
                  <div class="flex-row align-center mt-1">
                    <span class="bg-green text-white mr-1">3.8 <i class=" fas fa-star"></i></span><h6>(61)</h6>
                  </div>
                  <div class="flex-row" style="align-items: baseline;">
                    <h5 class="card-title font-weight-bold text-dark">₹1200</h5><h6 class="card-title text-secondary line ml-2">₹1345</h6><h6 class="text-green ml-1">30% Off</h6>
                  </div>
                </div>
              </div>

              <div class="prod-card">
                <div class="flex-row justify-content-center">
                  <div class="img-cont">
                    <img src="{%static 'images/watch.png'%}" alt="">
                  </div>
                </div>
                <div class="flex-col align-center">
                  <h5 class="card-title text-blue">Fastrack A16</h5>
                  <p class="card-title">Attractive black design</p>
                  <div class="flex-row align-center mt-1">
                    <span class="bg-green text-white mr-1">3.8 <i class=" fas fa-star"></i></span><h6>(61)</h6>
                  </div>
                  <div class="flex-row" style="align-items: baseline;">
                    <h5 class="card-title font-weight-bold text-dark">₹1200</h5><h6 class="card-title text-secondary line ml-2">₹1345</h6><h6 class="text-green ml-1">30% Off</h6>
                  </div>
                </div>
              </div>

              <div class="prod-card">
                <div class="flex-row justify-content-center">
                  <div class="img-cont">
                    <img src="{%static 'images/watch.png'%}" alt="">
                  </div>
                </div>
                <div class="flex-col align-center">
                  <h5 class="card-title text-blue">Fastrack A16</h5>
                  <p class="card-title">Attractive black design</p>
                  <div class="flex-row align-center mt-1">
                    <span class="bg-green text-white mr-1">3.8 <i class=" fas fa-star"></i></span><h6>(61)</h6>
                  </div>
                  <div class="flex-row" style="align-items: baseline;">
                    <h5 class="card-title font-weight-bold text-dark">₹1200</h5><h6 class="card-title text-secondary line ml-2">₹1345</h6><h6 class="text-green ml-1">30% Off</h6>
                  </div>
                </div>
              </div>

              <div class="prod-card">
                <div class="flex-row justify-content-center">
                  <div class="img-cont">
                    <img src="{%static 'images/watch.png'%}" alt="">
                  </div>
                </div>
                <div class="flex-col align-center">
                  <h5 class="card-title text-blue">Fastrack A16</h5>
                  <p class="card-title">Attractive black design</p>
                  <div class="flex-row align-center mt-1">
                    <span class="bg-green text-white mr-1">3.8 <i class=" fas fa-star"></i></span><h6>(61)</h6>
                  </div>
                  <div class="flex-row" style="align-items: baseline;">
                    <h5 class="card-title font-weight-bold text-dark">₹1200</h5><h6 class="card-title text-secondary line ml-2">₹1345</h6><h6 class="text-green ml-1">30% Off</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="flex-row">
              <div class="prod-card">
                <div class="flex-row justify-content-center">
                  <div class="img-cont">
                    <img src="{%static 'images/phone.png'%}" alt="">
                  </div>
                </div>
                <div class="flex-col align-center">
                  <h5 class="card-title text-blue">Fastrack A16</h5>
                  <p class="card-title">Attractive black design</p>
                  <div class="flex-row align-center mt-1">
                    <span class="bg-green text-white mr-1">3.8 <i class=" fas fa-star"></i></span><h6>(61)</h6>
                  </div>
                  <div class="flex-row" style="align-items: baseline;">
                    <h5 class="card-title font-weight-bold text-dark">₹1200</h5><h6 class="card-title text-secondary line ml-2">₹1345</h6><h6 class="text-green ml-1">30% Off</h6>
                  </div>
                </div>
              </div>

              <div class="prod-card">
                <div class="flex-row justify-content-center">
                  <div class="img-cont">
                    <img src="{%static 'images/phone.png'%}" alt="">
                  </div>
                </div>
                <div class="flex-col align-center">
                  <h5 class="card-title text-blue">Fastrack A16</h5>
                  <p class="card-title">Attractive black design</p>
                  <div class="flex-row align-center mt-1">
                    <span class="bg-green text-white mr-1">3.8 <i class=" fas fa-star"></i></span><h6>(61)</h6>
                  </div>
                  <div class="flex-row" style="align-items: baseline;">
                    <h5 class="card-title font-weight-bold text-dark">₹1200</h5><h6 class="card-title text-secondary line ml-2">₹1345</h6><h6 class="text-green ml-1">30% Off</h6>
                  </div>
                </div>
              </div>

              <div class="prod-card">
                <div class="flex-row justify-content-center">
                  <div class="img-cont">
                    <img src="{%static 'images/phone.png'%}" alt="">
                  </div>
                </div>
                <div class="flex-col align-center">
                  <h5 class="card-title text-blue">Fastrack A16</h5>
                  <p class="card-title">Attractive black design</p>
                  <div class="flex-row align-center mt-1">
                    <span class="bg-green text-white mr-1">3.8 <i class=" fas fa-star"></i></span><h6>(61)</h6>
                  </div>
                  <div class="flex-row" style="align-items: baseline;">
                    <h5 class="card-title font-weight-bold text-dark">₹1200</h5><h6 class="card-title text-secondary line ml-2">₹1345</h6><h6 class="text-green ml-1">30% Off</h6>
                  </div>
                </div>
              </div>

              <div class="prod-card">
                <div class="flex-row justify-content-center">
                  <div class="img-cont">
                    <img src="{%static 'images/phone.png'%}" alt="">
                  </div>
                </div>
                <div class="flex-col align-center">
                  <h5 class="card-title text-blue">Fastrack A16</h5>
                  <p class="card-title">Attractive black design</p>
                  <div class="flex-row align-center mt-1">
                    <span class="bg-green text-white mr-1">3.8 <i class=" fas fa-star"></i></span><h6>(61)</h6>
                  </div>
                  <div class="flex-row" style="align-items: baseline;">
                    <h5 class="card-title font-weight-bold text-dark">₹1200</h5><h6 class="card-title text-secondary line ml-2">₹1345</h6><h6 class="text-green ml-1">30% Off</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
          </div>

        </div>
      </div>
</div>
{% endblock %}