{% extends 'home/index.html' %}
{% load static %}
{% block content %}
<!-- Header Image -->
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="blurred-container">
                <div class="img-src" style="background-image: url('{% static 'images/linux_bro_banner3.png' %}');"></div>
            </div>
        </div>
        <!-- Additional carousel items can be uncommented as needed -->
        <!--
        <div class="carousel-item">
            <div class="blurred-container">
                <div class="img-src" style="background-image: url('{% static 'images/banner2.jpg' %}');"></div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="blurred-container">
                <div class="img-src" style="background-image: url('{% static 'images/banner5.jpg' %}');"></div>
            </div>
        </div>
        -->
    </div>
</div>

<!-- User Page Main Content -->
<div class="main pb-4">
    <div class="bg-white">
        <div class="container">
            <div class="row">
                <!-- Latest Articles Column -->
                <div class="col-md-8 latest-section">
                    <h2>Latest</h2>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="for-you-tab" data-toggle="tab" href="#for-you" role="tab" aria-controls="for-you" aria-selected="true">For You</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="following-tab" data-toggle="tab" href="#following" role="tab" aria-controls="following" aria-selected="false">Following</a>
                        </li>
                    </ul>

                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="for-you" role="tabpanel" aria-labelledby="for-you-tab">
                            <!-- For You Content -->
                            {% for story in stories %}
                                <div class="blog-card">
                                    <div class="row no-gutters">
                                        <div class="col-md-8 blog-card-body">
                                            <a class="blog-card-author" href="{% url 'blog' story.uuid %}">
                                                <img src="{% static 'images/profile.jpg' %}" alt="Author Image" class="author-img">
                                                {{ story.author.user.username }}
                                            </a>
                                            <h3 class="blog-card-title">{{ story.title }}</h3>
                                            <h6 class="blog-card-subtitle">
                                                {{ story.subtitle }}
                                            </h6>
                                        </div>
                                        <div class="col-md-4 d-flex justify-content-center align-items-center">
                                            <img src="{{ story.cover_image.url }}" alt="Blog Image" class="blog-img">
                                        </div>
                                    </div>
                                </div>
                            {% empty %}
                                <p>No stories available.</p>
                            {% endfor %}
                        </div>

                        <div class="tab-pane fade" id="following" role="tabpanel" aria-labelledby="following-tab">
                            <!-- Following Content -->
                            <div class="blog-card">
                                <div class="row no-gutters">
                                    <div class="col-md-8 blog-card-body">
                                        <p class="blog-card-author"><img src="{% static 'images/profile.jpg' %}" alt="Author Image" class="author-img"> Author Name</p>
                                        <h2 class="blog-card-title">Following Blog Title 1</h2>
                                        <h6 class="blog-card-subtitle">Setting Up Your Angular Development Environment Understanding Angular Modules and Components Creating Your First Angular Application</h6>
                                    </div>
                                    <div class="col-md-4 d-flex justify-content-center align-items-center">
                                        <img src="{% static 'images/blog_image.jpg' %}" alt="Blog Image" class="blog-img">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Trending Articles Column -->
                <div class="col-md-4 trending-section">
                    <h2>Trending</h2>
                    <ul class="list-unstyled mt-4">
                        <li>
                            <a href="post1.html" class="d-block mb-3 trending-link">
                                <span class="title">Trending Article 1</span>
                                <br>
                                <img src="{% static 'images/profile.jpg' %}" alt="Author 1" class="author-img">
                                <small class="author">by Author 1</small>
                            </a>
                        </li>
                        <!-- Repeat for more trending articles -->
                    </ul>
                </div>
            </div>
        </div>
        <!-- Technology Logos Section -->
        <div class="tech-logos-section">
          <h2 class="tech-logos-title">Tutorials by Technologies</h2>
          <div class="tech-logos-container">
              <a href="https://www.djangoproject.com" target="_blank" class="tech-logo-link">
                  <img src="{% static 'images/django-logo-positive.png' %}?text=Django" alt="Django Logo" class="tech-logo">
              </a>
              <a href="https://aws.amazon.com" target="_blank" class="tech-logo-link">
                  <img src="{% static 'images/Amazon_Web_Services-Logo.wine.png' %}?text=AWS" alt="AWS Logo" class="tech-logo">
              </a>
              <a href="https://angular.io" target="_blank" class="tech-logo-link">
                  <img src="{% static 'images/4373284_angular_logo_logos_icon.png' %}?text=Angular" alt="Angular Logo" class="tech-logo">
              </a>
          </div>
      </div>

      <!-- Recently Viewed Blogs Section -->
      <div class="container">
          <div class="row">
              <div class="col-12 mt-3">
                  <h3>Recently Viewed Blogs</h3>
              </div>
          </div>
          <div class="row">
              <div class="col-12 col-md-4">
                  <div class="card">
                      <img src="{% static 'images/blog_image.jpg' %}" class="card-img-top" alt="Blog 1">
                      <div class="card-body">
                          <h5 class="card-title">Blog Title 1</h5>
                          <p class="card-text">Short description of the blog.</p>
                          <a href="#" class="btn btn-primary">Read More</a>
                      </div>
                  </div>
              </div>
              <!-- Repeat for more recently viewed blogs -->
          </div>
      </div>
    </div>
</div>
{% endblock %}